header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-repeat: contain;
    width: 150px;
    height: 70px;
    margin: 10px 0px 0px 20px;

}
