header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    display: flex;
}

.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-repeat: contain;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;

}

